# DATABASE_URL=""
DATABASE_URL=""

SALT_ROUND=10
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIREIN=""
REFRESH_TOKEN_EXPIREIN=''
RESET_PASSWORD_SECRET=''

# email otp 
EMAIL_USER=""
EMAIL_PASS="   "
SMTP_HOST=
SMPT_PORT=
SMPT_FROM=
# admin creadentials 
ADMIN_EMAIL=
ADMIN_PASSWORD=

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

CLIENT_URL=
SERVER_URL=

# sudo -u postgres psql